<main class="container">
  <h1>Quadratwurzeln berechnen</h1>
  <form [formGroup]="form">
    <input type="number" name="input" placeholder="1" formControlName="input">
    <button (click)="Result1()">Heronverfahren</button>
    <button (click)="Result2()">Intervallschachteilung</button>
  </form>
  <p class="result"></p>
  <hr>
  <button (click)="showVerlauf()">Zeige Verlauf!</button>
  <details class="verlaufRows" *ngFor="let verlauf of verlauefe">
    <summary>Verlauf</summary>
    <span class="col1">{{ verlauf.input }}</span>
    <span class="col2">{{ verlauf.result }}</span>
  </details>
</main>
