.words-wrapper .words {
    display: inline-grid;
    position: relative;
    vertical-align: bottom;
    padding: 0 10px;
    border-radius: 6px;
    color: black;
    box-sizing: content-box;
    transition: all 0.7s;
}
.words-wrapper .words span {
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50, 100);
    transition: transform 0.7s, opacity 0.25s 024s;
}
.words-wrapper .words span.current {
    opacity: 1;
    transition: translate(-50%, 0);
}
.words-wrapper .words span.next {
    transform: translate(-50%, 100%);
}